@using MemberApp.Model.Constants
@model IEnumerable<MemberProtectionDetailViewModel>

<table id="datatables" class="crop-production-table table table-striped table-no-bordered table-hover dataTable dtr-inline scrolledTable" cellspacing="0" width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
    <thead>
        <tr role="row">
            <th>
                @Html.DisplayNameFor(model => model.KeyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr role="row" data-protectionid="@item.Id" style="">
                    <td tabindex="0" class="sorting_1">
                        @Html.DisplayFor(modelItem => item.KeyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OldValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewValue)
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td class="td-actions text-right">
                        @if (item.Status == ProtectionStatus.Pending)
                        {
                            <a id="reject-button" item-id="@item.Id"
                   class="btn btn-link btn-danger btn-just-icon"
                   data-toggle="modal"
                   data-target="#rejectModal">
                                <i class="material-icons">clear</i>
                            </a>

                            <a id="approve-button" item-id="@item.Id"
                   class="btn btn-link btn-warning btn-just-icon"
                   data-toggle="modal"
                   data-target="#approveModal">
                                <i class="material-icons">done</i>
                            </a>
                        }
                        else if (item.Status == ProtectionStatus.Approved)
                        {
                            <a class="btn btn-link btn-success btn-just-icon">
                                <i class="material-icons">verified</i>
                            </a>
                        }
                        else if (item.Status == ProtectionStatus.Rejected)
                        {
                            <a class="btn btn-link btn-danger btn-just-icon">
                                <i class="material-icons">dangerous</i>
                            </a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr role="row">
                <td colspan="5" class="text-center">
                    No data found.
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <form asp-controller="Member" asp-action="Reject" method="post">
        <input type="hidden" name="Id" />
        <input type="hidden" name="MemberId" />
        <input type="hidden" name="ProtectionId" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rejectModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="modal-message">Are you sure you want to reject it?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
    <form asp-controller="Member" asp-action="Approve" method="post">
        <input type="hidden" name="Id" />
        <input type="hidden" name="MemberId" />
        <input type="hidden" name="ProtectionId" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approveModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="modal-message">Are you sure you want to approve it?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>