@inject IViewLocalizer Localizer

@model IEnumerable<MemberOverviewViewModel>

@{
    ViewData["Title"] = "Members";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">people</i>
                    </div>
                    <h4 class="card-title">@Localizer["Members"]</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar text-right">
                        <a class="btn btn-success btn-create" asp-controller="Member" asp-action="Create">
                            ADD
                            <i class="material-icons">keyboard_arrow_right</i>
                        </a>
                    </div>
                    <div class="material-datatables">
                        <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatables" class="crop-production-table table table-striped table-no-bordered table-hover dataTable dtr-inline scrolledTable" cellspacing="0" width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                                        <thead>
                                            <tr role="row">
                                                <th>
                                                    @Localizer["Id"]
                                                </th>
                                                <th>
                                                    @Localizer["BCNumber"]
                                                </th>
                                                <th>
                                                    @Localizer["Rank"]
                                                </th>
                                                <th>
                                                    @Localizer["FullName"]
                                                </th>
                                                <th>
                                                    @Localizer["CurrentStatus"]
                                                </th>
                                                 <th>
                                                    @Localizer["Division"]
                                                </th>
                                                <th>
                                                    @Localizer["PhoneNumber"]
                                                </th>
                                                <th>
                                                    @Localizer["Request"]
                                                </th>
                                                <th>
                                                    @Localizer["Details"]
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Any())
                                            {
                                                int index = 0;
                                                foreach (var item in Model)
                                                {
                                                    index++;
                                                    <tr role="row" data-cropproductionid="@item.Id" style="">
                                                        <td>
                                                            @index
                                                        </td>
                                                        <td tabindex="0" class="sorting_1">
                                                            @Html.DisplayFor(modelItem => item.BCNumber)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Rank)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CurrentStatus)
                                                        </td>
                                                         <td>
                                                            @Html.DisplayFor(modelItem => item.Division)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Request)
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <a asp-action="Manage" asp-route-id="@item.Id"
                                                       class="btn btn-link btn-success btn-just-icon edit">
                                                                <i class="material-icons">manage_accounts</i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr role="row">
                                                    <td colspan="8" class="text-center">
                                                        No data found.
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
    </div>
</div>